<div style="width: 100%;">
  <div class="resultado" style="background-color: #6E66F1;">
    <p>Final price</p>
    <p>{{resultado}}</p>
  </div>
  <div class="wrapper">
    <div (click)="focusTax(true)" class="one tax">Tax {{numberForTax }}%</div>
    <div (click)="focusTax(false)" style="grid-column: 2/3;" style="background-color: #FCFCFD;">Before tax {{numberForPrice}}</div>
  </div>
  <div class="wrapper">
    <div (click)="write(1)" class="one button">1</div>
    <div (click)="write(2)" class="two button">2</div>
    <div (click)="write(3)" class="three button">3</div>
    <div (click)="write(4)" class="four button">4</div>
    <div (click)="write(5)" class="five button">5</div>
    <div (click)="write(6)" class="six button">6</div>
    <div (click)="write(7)" class="seven button">7</div>
    <div (click)="write(8)" class="eight button">8</div>
    <div (click)="write(9)" class="nine button">9</div>
    <div (click)="write('.')" class="coma button">,</div>
    <div (click)="write(0)" class="zero button">0</div>
    <div (click)="del()" class="del button">del</div>
  </div>
</div>
